$Midnight-Green: #02215c;
$Madison: #02215c;
$Verdigris: #15a1da;
$Curious-Blue: #15a1da;
$Maximum-red-purple: #62c3e9;
$Seagull: #62c3e9;
$Terra-Cotta: #f2711c;
$Clementine: #f2711c;
$Tea-Rose: #3dbfea;
$Cerulean: #3dbfea;
$Maize: #fae76a;